/* General Styling */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e976a2;
}

/* Container for the password generator */
.pass {
  background-color: #e01384;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Heading */
.heading h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Input Field for the generated password */
.input input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  text-align: center;
}


.copy-button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.copy-button button:hover {
  background-color: #0056b3;
}

/* Lower section */
.lower-div {
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  width: 90%; 
  text-align: left;
}
.lower-div input {
  cursor: pointer;
}
